*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black; 
}

header{
    width: 100%;
    height: 10%;
    display: flex;
}

.titulo{
    text-align: center;
    position: relative;
    top: 25%;
    left: 15%;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
}

.logo{
    width: 75px;
    height: 30px;
    position: relative;
    margin-top: 15px;
    left: 3%;
    top: 13%;
}

.logo:hover{
        transform: rotate(360deg);
        transition: transform 1s ease;
}

main{
    width: 100%;
    height: 80%;
    /* background-color: gray; */
    display: flex;
    justify-content: space-evenly;
}

section{
    width: 40%;
    height: 100%;
    /* background-color: coral; */
}

.boxleft{
    width: 60%;
    background-color: black;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px white;
}

.area{
    color: white;
    width: 80%;
    height: 70%;
    display: block;
    margin: auto;
    margin-top: 5%;
    resize: none;
    font-size: 25px;
    border: none;
    outline: none;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    text-transform: lowercase;
}

.aviso{
    display: flex;
    justify-content: center;
    color: #495057;
}

.avisoimg{
    padding-right:10px;
    width: 15px;
    height: 15px;
}

.botones{
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.btnencriptar, .btndesencriptar, .limpiar{
    width: 30%;
    height: 40px;
    border-radius: 25px;
    font-size: 20px;
}


.btnencriptar{
    background-color: #0A3871;
    color: white;
    border: 1px solid #0A3871;
}

.btnencriptar:hover{
    transition-delay: 10ms;
    box-shadow: 0px 0px 10px 5px white;
    transform: scale(1.1);
}

.btndesencriptar{
    background-color: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
}

.btndesencriptar:hover{
    transition-delay: 10ms;
    box-shadow: 0px 0px 10px 5px white;
    transform: scale(1.1);
}

.limpiar{
    background-color: #0A3871;
    color: white;
    border: 1px solid #0A3871;
}

.limpiar:hover{
    transition-delay: 10ms;
    box-shadow: 0px 0px 10px 5px #F24B59;
    transform: scale(1.1);
}

.boxright{
    width: 30%;
    background-color: black;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0px 0px 10px 5px white;
}

.ocultar{
    display: none;
}

.muneco{
    width: 100%;
    height: 60%;
    text-align: center;
    position: relative;
    top: -30px;
    overflow: hidden;
    margin-top: 80px;
}

.textleft{
    color: white;
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 23px;
    font-style: bold;
}

.parrafoleft{
    color: white;
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 16px;
    color: white;
    position: relative;
    bottom: 50px;
}

.resultado{
    width: auto;
    height: 80%;
    box-sizing: border-box;
    text-align: justify;
    position: relative;
    bottom: 60px;
    left: 40px;
    font-size: 20px;
}

.textoresultado{
    word-wrap: break-word;
    padding: 20px;
    position: relative;
    right: 40px;
    height: 70%;
    display: block;
    overflow: hidden;
    text-transform: lowercase;
    color: white;
}

.copiar{
    width: 100%;
    height: 20%;
    position: relative;
    bottom: 115px;
}

.btncopiar{
    background-color: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 25px;
    width: 70%;
    height: 30%;
    font-size: 20px;
    display: block;
    margin: auto;
}

.btncopiar:hover{
    transition-delay: 10ms;
    box-shadow: 0px 0px 10px 5px #F24B59;
    transform: scale(1.1);
}

footer{
    width: 100%;
    height: 5%;
    display: flex;
    padding-top: 35px;
    justify-content: center;
}

.autor{
    font-size: 15px;
    padding-right: 15px;
    padding-top: 5px;
    color: white;
}

.linkedin{
    width: 28px;
    height: 25px;
    padding-right: 15px;
}

.github{
    width: 26px;
    height: 25px;
    padding-right: 15px;
}


/* Responsive WEB*/

@media screen and (max-width: 425px) {

    .titulo{
        font-size: 30px;
        display: flex;
        position: relative;
        top: 10%;
        left: -5%;
        word-wrap: normal;
    }

    .logo{
        width: 20%;
        height: 40%;
        display: flex;
    }

}
